body {
    background: #fbf2e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form .fields {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
}

form * {
    font-size: 1.1em;
    font-family: Arial, serif;
    margin-bottom: 20px;
}

form input:not(form input[type="radio"], form input[type="checkbox"]), form select {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

form input[type="submit"] {
    font-size: 1.3em;
    width: 100%;
}

form a {
    float: right;
}

#result {
    width: 30%;
}

#result table {
    width: 100%;
    border-collapse: collapse;
}

#result table td {
    padding: 8px;
    border: 1px solid gray;
}